<div class="jumbotron">
    <div id="header-title">TRUMP<br>DUMP</div>
    <a href="/scrape-npr">
        <button class="btn btn-lg btn-info" id="scrape-btn"><strong>READ THE LATEST</strong></button>
    </a>
</div>

