{{#each articles}}
    <div class="panel panel-default">
        <div class="panel-body align-top">
            <a href="{{this.link}}">
                <img src="{{this.image}}" class="img-rounded article-img">
                <h3 class="title">{{this.title}}</h3>
            </a>
            <!--<button type="button" class="btn btn-sm btn-warning note-btn"><strong><i class=""fa fa-sticky-note"></i>&nbsp;&nbsp;Notes</strong></button>-->
            <button type="button" class="btn btn-sm btn-warning bookmark-btn"><strong><i class="fa fa-bookmark"></i>&nbsp;&nbsp;Bookmark</strong></button>
        </div>
    </div>
{{/each}}
