.jumbotron {
    background-image: url("../img/dtbanner2.jpg");
    background-size: cover;
    height: 18vw;
    padding-left: 10vw;
    margin: 0;
}

.well {
    margin: 8px;
}

.navlink {
    color: darkblue;
}

#newNoteLabel {
    margin-top: 40px;
}

.navbar {
    margin: 0;
}

#header-title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 6vw;
    line-height: 5vw;
}

.row {
    border: blue 1px solid;
}

.article-img {
    height: 100px;
}

.title {
    display: inline;
}

img {
    float: left;
    margin-right: 30px;
}

.panel-body {
    position: relative;
}

.bookmark-btn, .remove-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.note-btn {
    position: absolute;
    bottom: 15px;
    right: 155px;
}

#scrape-btn {
    margin-top: 15px;
}

.spacer {
    height: 30px;
}

/*MEDIA QUERIES*/
/*!* Landscape tablets and medium desktops *!*/
@media (min-width: 992px) {
    .jumbotron {
        height: 21vw;
    }
}

/*!* Portrait tablets and small desktops *!*/
@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        height: 25vw;
    }
}

/*!* Landscape phones and portrait tablets *!*/
@media (min-width: 481px) and (max-width: 767px) {
    .jumbotron {
        height: 28vw;
    }
}

/*!* Portrait phones and smaller *!*/
@media (max-width: 480px) {
    .jumbotron {
        height: 28vw;
    }
}

